<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <%- include('../partials/navbar'); %>

    <div class="container mt-5">
        <h2 class="mt-4">Create Category</h2>
        <form id="create-category-form" action="/categories" method="POST">
            <div class="form-group">
                <label for="name">Category Name</label>
                <input type="text" class="form-control" id="name" name="name" >
            </div>
            <div class="form-group mt-3">
                <label for="parent">Parent Category</label>
                <select class="form-control" id="parent" name="parent">
                    <option value="null">No Parent</option>
                    <% categories.forEach((category) => { %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-success mt-3">Create</button>
        </form>
        <a href="/categories" class="btn btn-secondary mt-3">Back to Categories</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>
         $(document).ready(function() {
            $("#create-category-form").validate({
                rules: {
                    name: {
                        required: true, 
                    },
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        });
    </script>

</body>
</html>
